/* General */
body {
  background: #fff;
  text-align: center;
}

body,
input,
textarea {
  color: #444;
  font: 16px/160% "Imprima", Helvetica, Arial, sans-serif;
}

a {
  color: #ff3600;
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
code {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

pre code {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font: 14px/160% "Monaco", monospace, sans-serif;
  overflow: auto;
  margin: 20px 0;
  padding: 20px;
}

/* Header */
#header {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 0 40px;
  padding: 20px;
  position: fixed;
  left: 0;
  width: 200px;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 a {
  background: url(/images/logo.png) center center no-repeat;
  display: inline-block;
  height: 120px;
  text-indent: -999em;
  width: 120px;
}

#about {
  font-size: 14px;
  line-height: 160%;
  margin: 20px 0;
  text-align: left;
}

#links {
  margin: 0;
}

#links li {
  display: inline;
  margin: 0 5px;
}

#links a {
  background: url(/images/icon-rss.png) center center no-repeat;
  display: inline-block;
  height: 42px;
  text-indent: -999em;
  width: 42px;
}

/* Content */
#content {
  padding: 20px 40px 0 320px;
}

#content {
  text-align: justify;
}

#content > article,
#content > #pager,
#comments #disqus_thread {
  max-width: 700px;
}

#content article ul {
  list-style-type: disc;
}

#content article ol {
  list-style-type: decimal;
}

#content ol li,
#content ul li {
  margin-bottom: 20px;
}

#content blockquote {
  background: #f0f0f0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #444;
  font-style: italic;
  margin-bottom: 20px;
  padding: 20px;
}

#content blockquote p:last-child {
  margin-bottom: 0;
}

#posts time,
#posts h3 {
  display: inline;
}

article time {
  color: #999;
}

#archive,
#comments {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-width: 1px 0;
  margin: 0 -40px 0 -320px;
  padding: 20px 40px 20px 320px;
}

#archive {
  border-bottom: 0;
}

#comments {
  margin-bottom: 20px;
  padding-bottom: 0;
}

#pager {
  margin: 0;
}