/* General */
body {
  background: #fff;
  text-align: center;
}

body,
input,
textarea {
  color: #444;
  font: 16px/160% "Imprima", Helvetica, Arial, sans-serif;
}

a {
  color: #ff3600;
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
code {
  margin-bottom: 20px;
  margin-top: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

pre code {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font: 14px/160% "Monaco", monospace, sans-serif;
  overflow: auto;
  margin: 20px 0;
  padding: 20px;
}


form {
  padding: 0;
}

form .field {
  padding: 10px 0;
}

form fieldset {
  background: #fff;
  border: 1px solid #bdcad3;
  border-color: #bdcad3 #c9d4db #c9d4db #bdcad3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 3px #bdc8d3 inset;
  padding: 10px 15px;
}

form fieldset legend {
  border-bottom: 1px solid #f3f5f7;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
}

input:focus {
  outline: none;
}

input[type=text],
input[type=password],
textarea {
  background: #f9fafb;
  border: 1px solid #bdcad3;
  border-color: #bdcad3 #c9d4db #c9d4db #bdcad3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 3px #bdc8d3 inset;
  padding: 5px 10px;
}
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
textarea:active,
textarea:focus {
  background: #fff;
}

#wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1020px;
  text-align: left;
}

/* Header */
/* Header */
#header {
  font-size: 13px;
  position: relative;
  text-align: right;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  width: 1020px;
}

#header input {
  background: rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  color: #fff;
  font-size: 13px;
  margin-right: 20px;
  padding: 2px 10px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
#header input:active,
#header input:focus {
  background: #fff;
  color: #2a343a;
}

#header a {
  color: #fff;
  display: inline-block;
  padding: 15px 20px 15px 0;
  position: relative;
  text-decoration: none;
}
#header a:hover {
  color: #69b4ff;
}

#header a img {
  background: transparent no-repeat center left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  margin: 0 5px -5px 0;
  width: 20px;
}

#header .dropdown {
  display: inline-block;
}

#header .dropdown .options {
  display: none;
  position: absolute;
  right: 10px;
  text-align: left;
  top: 45px;
  z-index: 999;
}

#header .dropdown .options a {
  color: #2a343a;
  display: block;
  padding: 10px 20px;
  text-shadow: none;
}
#header .dropdown .options a:hover {
  color: #008cdd;
}

#header .dropdown:hover .options {
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: block;
  text-decoration: none;
}

#header a#logo {
  background: url(https://zabbix.service.chinanetcloud.com/images/general/zabbix.png) no-repeat center center;
  border: 0;
  display: block;
  float: left;
  text-indent: -999em;
  width: 89px;
}

#header .title {
    float: left;
}

/* Login */
#login {
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  clear: both;
  margin: 20px auto;
  position: relative;
  width: 300px;
}

#login header {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafb));
  background: -moz-linear-gradient(top,  #fff,  #f9fafb);
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #f3f5f7;
  padding: 15px 20px;
}

#login h1 {
  font-size: 16px;
  margin: 0;
}

#login form {
  padding: 15px 20px 10px;
  text-align: left;
}

#login .field label {
  display: none;
}

#login input {
  font-size: 15px;
  padding: 10px 15px;
  width: 228px;
}

#login .button {
  font-size: 15px;
  padding: 13px 15px;
  text-align: center;
  width: 228px;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 a {
  background: url(/images/logo.png) center center no-repeat;
  display: inline-block;
  height: 120px;
  text-indent: -999em;
  width: 120px;
}

#about {
  font-size: 14px;
  line-height: 160%;
  margin: 20px 0;
  text-align: left;
}

#links {
  margin: 0;
}

#links li {
  display: inline;
  margin: 0 5px;
}

#links a {
  background: url(/images/icon-rss.png) center center no-repeat;
  display: inline-block;
  height: 42px;
  text-indent: -999em;
  width: 42px;
}

/* Content */
#content {
  padding: 0px 0px 0 260px;
}

#content {
  text-align: justify;
}

#content > article,
#content > #pager,
#comments #disqus_thread {
  max-width: 700px;
}

#content article ul {
  list-style-type: disc;
}

#content article ol {
  list-style-type: decimal;
}

#content ol li,
#content ul li {
  margin-bottom: 20px;
}

#content blockquote {
  background: #f0f0f0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #444;
  font-style: italic;
  margin-bottom: 20px;
  padding: 20px;
}

#content blockquote p:last-child {
  margin-bottom: 0;
}

#posts time,
#posts h3 {
  display: inline;
}

article time {
  color: #999;
}

#archive,
#comments {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-width: 1px 0;
  margin: 0 -40px 0 -320px;
  padding: 20px 40px 20px 320px;
}

#archive {
  border-bottom: 0;
}

#comments {
  margin-bottom: 20px;
  padding-bottom: 0;
}

#pager {
  margin: 0;
}

/* Sidebar */
#sidebar {
  background: #f3f5f7;
  border-right: 1px solid #e1e8eb;
  float: left;
  height: 600px;
  overflow: auto;
  width: 240px;
}

#sidebar nav > a,
#sidebar header,
#sidebar h1 {
  background: transparent;
  border-bottom: 1px solid #d5dee3;
  box-shadow: 0 1px 0 #fdfdfd inset;
  color: #2a343a;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

#sidebar h1 .action {
    font-weight: bold;
    text-align: left;
}

#sidebar nav > a:hover {
  background: #fff;
}
#sidebar nav > a:active,
#sidebar nav > a.active {
  background: #e1e6eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#edf0f3), to(#e1e6eb));
  background: -moz-linear-gradient(top,  #edf0f3,  #e1e6eb);
  box-shadow: 1px 1px 3px #bdc8d3 inset;
}

#sidebar nav > a h2 {
  font-size: 14px;
  margin: 0;
}

#sidebar header {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f5f7), to(#edf0f3));
  background: -moz-linear-gradient(top,  #f3f5f7,  #edf0f3);
  padding: 10px 15px;
}

#sidebar header input {
  background: #e1e6eb;
  border: 0;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 1px 0 #fdfdfd, 1px 1px 3px #a5b4c3 inset;
  padding: 3px 10px;
  width: 120px;
}
#sidebar header input:active,
#sidebar header input:focus {
  background: #fff;
}

a.button {
  background: #e7ebef;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#e7ebef));
  background: -moz-linear-gradient(top,  #f9fafb,  #e7ebef);
  border: 1px solid #d5dee3;
  border-color: #d5dee3 #c9d4db #c9d4db #d5dee3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 0 #fdfdfd inset, 1px 1px 3px #e7ecef;
  color: #3b4951;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 99%;
  padding: 10px 14px 9px;
  text-decoration: none;
  text-shadow: 0 1px #fdfdfd;
}
a.button:hover {
  box-shadow: 0 1px 0 #fff inset;
  color: #111517;
}
a.button:active {
  background: #e1e6eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7ebef), to(#edf0f3));
  background: -moz-linear-gradient(top, #e7ebef,  #edf0f3);
  box-shadow: 1px 1px 3px #bdc8d3 inset;
  border-color: #bdcad3 #c9d4db #c9d4db #bdcad3;
  color: #3b4951;
  text-shadow: 0 1px #fdfdfd;
}

a.button:before {
  font-size: 14px;
  font-weight: normal;
  line-height: 99%;
}

a.button.primary {
  background: #008cdd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#05a3ff), to(#008cdd));
  background-image: -moz-linear-gradient(top, #05a3ff, #008cdd);
  border: 1px solid #008cdd;
  border-color: #008cdd #007fc8 #007fc8 #008cdd;
  box-shadow: 1px 1px 3px #cfdadf;
  color: #fff;
  margin: -1px;
  text-shadow: -1px -1px #0078f0;
}
a.button.primary:hover {
  background: #0098f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19aaff), to(#0098f0));
  background-image: -moz-linear-gradient(top, #19aaff, #0098f0);
  box-shadow: none;
  color: #fff;
}
a.button.primary:active {
  background: #0098f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#008cdd), to(#0098f0));
  background-image: -moz-linear-gradient(top, #008cdd, #0098f0);
  box-shadow: 1px 1px 3px #0072b4 inset;
  border-color: #0072b4 #007fc8 #007fc8 #0072b4;
}

